/arividade2genio/Genio/nbproject/private/
/arividade2genio/Genio/build/
/atividade5repetição,slider/JavaApplication5/nbproject/private/
/atividade5repetição,slider/JavaApplication5/build/
/atividade5repetição,slider/RepetiçãocomSlider/nbproject/private/
/atividade5repetição,slider/RepetiçãoSlider/nbproject/private/
/atividade5repetição,slider/RepetiçãoSlider/build/
/atividade6fatorial/Fatorial/nbproject/private/
/atividade6fatorial/Fatorial/build/
